@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Paleta de colores para bienes raíces */
    --color-beige: #B2AB81;
    --color-marron-oscuro: #6C2F27;
    --color-verde-oliva: #4C4F3C;
    --color-marron-dorado: #A8673D;
    --color-beige-claro: #F2EEE4;
}
